/* website theme */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins:ital,wght@0,300;0,600;1,100;1,400;1,500&display=swap');
:root{
    --hue-1:257;
    --hue-2:47;
    --bg-color:hsl(var(--hue-1),100%,97% );
    --main-color-1:hsl(var(--hue-1),100%,60%);
    --main-color-dark-1:hsl(var(--hue-1),69%,50%);
    --main-color-2:hsl(var(--hue-2),100%,61%);
    --main-color-dark-2:hsl(var(--hue-2),82%,55%);
    --bg-color-1:hsl(var(--hue-1),100%,97% );
    --bg-color-2:#fff;
    --bg-color-3:hsl(var(--hue-1),100%,98% );
    --bg-color-transparent:rgba(255,255,255,0.6);
    --heading-color:hsl(var(--hue-1),61%,24%);
    --text-color:hsl(var(--hue-1),17%,63);
    --section-padding:7rem;
}



/* generalstyle */
*, *::before, *::after{
    padding: 0;
    margin: 0;

}
body{
    overflow-x: hidden;
    background-color:var(--bg-color);
    font-family: 'Poppins', sans-serif;
}
/* when we select */
::selection{
    background-color: hsla(var(--hue-1),100%,60%,0.9) ;
    color: rgb(230, 227, 233);
}
a{
  text-decoration: none;  
}
ul{
   list-style: none; 
   font-family: 'Poppins', sans-serif;

}
/* ////////navbar styling///////////////////
 */
header.scrolled{
    background-color: var(--bg-color-transparent);
    box-shadow:0 5px 20px 0.1 rgba(0, 0, 0, 0.1) ;
}


 /* //////////reusable css/////////// */
 .container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    /* background-color: red; */
margin:0 auto ;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.4s;
}
nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.logo{
    margin-right: 1.5rem;
    /* height: 120px;
    line-height: 120px; */
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--heading-color);
    letter-spacing:10px ;
    transition:0.3s ;
}
.logo span{
   color: var(--main-color-1); 
}
header .logo{
    height: 120px;
    line-height: 120px;
}
header.scrolled .logo{
    height: 80px;
    line-height: 80px;
    backdrop-filter: blur(15px);
}
.links{
   /* background-color: red;  */
   flex:1;
   display: flex;
   justify-content: space-between;

}
.links ul{
    display: flex;
    align-items:center ;
    width: 100%;
}
.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9; 
    transition:0.3s ;
}
.nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius:5px ;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}
.nav-link:hover{
    color: var(--heading-color);
}
.nav-link:hover::after{
    width: 100%;
    opacity:0.2 ;
}
.toggle-btn{
    color: var(--heading-color);
    min-width: 40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.06);
    transition: 0.3s;
margin-right:1rem ;
}
.toggle-btn:hover{
    filter: brightness(94%);
}
/* =============Showcase area============ */
.showcase-area{
    width: 100%;
    overflow: hidden;
    padding:120px 0 ;
    position:relative;
}
.showcase-area .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
max-height: 600px;
align-items:center ;
}
.showcase-area .sub-heading{
    margin-bottom: 0.7rem;
}
.showcase-area .heading{
   font-size: 3rem;
}
.showcase-area .text{
    margin: 0.8rem 0;
}
.cta{
    margin-top:3.5rem ;
    display: flex;
    align-items:center ;
}
.cta .btn{
    margin-right:1.5rem ;

}
.btn{
    display: inline-block;
    padding: .9rem 1.75rem;
    border-radius:17px ;
    background-color: var(--main-color-1);
    color: white;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.3s;
}
.btn:hover{
    background-color: var(--main-color-dark-1);
}
.btn.secondary-btn{
    position: relative;
background-color: transparent;
color: var(--main-color-1);
font-weight: 500;
font-size: 0.9rem;
letter-spacing: 6px;
border-bottom: 2px solid var(--main-color-2);
}
.btn.secondary-btn::before{
content: "";
position: absolute;
width: 0%;
height: 2.5px;
bottom: -2.5px;
left: 0;
background-color: var(--main-color-1);
transition: .3s ease-in-out;
}
.btn.secondary-btn:hover::before{
width: 100%;
}
.sub-heading{
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing:0.5px ;
    border-left: 3px solid var(--main-color-2);
    padding: .13rem .75rem;
    margin-bottom:1rem ;
    font-weight: 500;

}
.heading{    color: var(--heading-color);
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}
.text{
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding:0.13rem 0.75rem ;
    margin: 2rem 0;
    line-height:2.3 ;
}
.showcase-image{
    position: relative;
    width: 100%;
    min-height: calc(100% + 120px);
    background-color: var(--main-color-1);
    margin-top:-120px;
    border-radius:0 0 80px  80px ;
    background-image: 
    linear-gradient(124deg, var(--main-color-1) 54%,var(--main-color-2) 54%)
}
.showcase-image .person{
    position: absolute;
    width: 95%;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%) ;
}
.dots{
    width:122px ;
}
.showcase-area .circle{
    position: absolute;
   width: 180px;
    top: 80%;
    left: 0;
    transform: translate(-50%, -50%);   
}
.showcase-area .dots{
    position: absolute;
    left: 100%;
    top: 30%;
    transform: translate(-50%, -50%);
}
.square{
    width: 70px;
}
.showcase-area .square{
    position: absolute;
    left: 25%;
   bottom: 120px;
    transform: translate(-50%,-50%);
} 
/* ============About me section================ */
.section{
    position: relative;
    padding: var(--section-padding),0;
}
.about .container{
display: grid;
grid-template-columns: 2fr 1fr;
}
.about .text{
    margin: 3rem 0 4rem;
}